apiVersion: apps/v1
kind: Deployment
metadata:
  name: produits-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mproduits
  template:
    metadata:
      labels:
        app: mproduits
    spec:
      containers:
      - name: mproduits
        image: elganiesta/mproducts:1
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 9001
---
apiVersion: v1
kind: Service
metadata:
  name: mproduits-service
spec:
  selector:
    app: mproduits
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 9001
