apiVersion: v1
kind: Service
metadata:
  name: mproduits
spec:
  selector:
    app: microservice-produits
  ports:
    - protocol: TCP
      port: 9001
      targetPort: 9001
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: produits-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice-produits
  template:
    metadata:
      labels:
        app: microservice-produits
    spec:
      containers:
        - name: microservice-produits
          image: elganiesta/mproducts:3
          ports:
            - name: http
              containerPort: 9001
